:root{
    --background: #cad2c5;
    --codewords: #344e41;
    --headers: #2f3e46;
    --subheading: #354f52;
    --borders: #3a5a40;
    --smallcurve: 5px;
    --gradientlight:#84a98c;
    --gradientdark:#a3b18a;
}

body{
    background-color: var(--background);
    font-size: 16px;
    color: var(--subheading);
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

header > h1{
    color: var(--headers);
    font-size: 48px;
    margin-bottom: 10px;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    margin: 36px 0;
}

.card{
    color: var(--subheading);
    border: 2px dashed var(--borders);
    margin: 10px 10px;
    padding: 20px;
    width: calc(33.33% - 20px);
    transition: box-shadow 500ms ease;
}

.card-header {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: var(--background);
    margin-top: -30px;
    border: 2px solid var(--borders);
    border-radius: var(--smallcurve);
    color: var(--headers);
    padding: 10px;
    transition: box-shadow 500ms ease;
}

.card:hover,
.card-header:hover{
    box-shadow: 0 0 8px #2e3027;
}

.card > p{
    margin-top: 10px;
}

code{
    font-family: 'Courier New', Courier, monospace;
}

.code-tile{
    display: flex;
    flex: 1;
    width: 100%;
    background-image: linear-gradient(var(--gradientdark) 0%, var(--gradientlight) 100%);
    color: var(--codewords);
    border-radius: var(--smallcurve);
    margin-top: 8px;
    padding: 8px;
    border: 1px solid var(--borders);
}

footer{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1160px) {
    .card{
        width: calc(50% - 32px);
    }
    
}

@media screen and (max-width: 768px) {
    .card{
        width: calc(100% - 32px);
    }
    
}